body {
  background-color: #bfefff;
  color: #232e35;
  width: 100%;
}

img {
  max-width: 200px;
  height: auto;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 2px solid black;
  padding: 5px;
}

thead {
  background-color: lightgray;
}

#container {
  width: 80%;
  margin: 0 auto;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.info {
  background-color: lightblue;
}

aside {
  position: absolute;
  right: 0;
  top: 50%;
  width: 250px;
  padding: 20px;
  border-left: 2px solid #000000;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

main {
  width: 70%;
  padding: 20px;
  box-sizing: border-box;
}
